<%- include("partials/header",{ Condition: Condition, User: User }) %> 

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 hero-img d-none d-lg-block" data-aos="fade-left" data-aos-delay="200">
                <img src="img/happy-freelancer.png" class="img-fluid animated" alt="">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0 d-flex flex-column justify-content-center bor2" data-aos="fade-left"
                data-aos-delay="200">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded cd-credentials" style="height: 25rem;">
                    <div class="card-body">
                        <h3 class="card-title dist">Change Password</h3>
                        <form id="form2" method="post" action="/forgot" class="row g-3 needs-validation dist justify-content-center" novalidate>
                            <input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                            <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                            <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                            <input type="submit" value="Change" class="btn btn-success">
                        </form>
                        <div id="LangTable"><a href="/profile" id="aa"></a>
                            <div  class="mssg bg-danger">
                                <span id="check"></span>
                                </div>
                                <div id="LangTable"><a href="/profile" id="aa"></a>
                                </div>
                                <div class="dist"><span>Login?</span><a href="/login">Click here</a></div>
                            </div>
                            <div id="LangTable"><a href="/login" id="aa"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

</section><!-- End Hero -->

<%- include("partials/footer") %>